<html>
  
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">


  <head>
    <style>
      button {
      border: 0;
      border-radius: 0;
      background: 0;
      font-size: 1.2em;
      -webkit-appearance: none;
      }
    </style>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="ChatController" ng-init="promptForUsername(); promptForKey();" style="margin: 0px; !important;">
    <div style="height: 55px; background: #ddd; width: 100%; position: fixed; top: 0px; padding-top: 1px; box-shadow: 0px 2px 2px 2px rgba(100,100,100,0.5);">
      <button style="-webkit-appearance: none; height: 50px; width: 20%" ng-click="promptForUsername()"><i class="fa fa-user"></i></button>
      <button style="-webkit-appearance: none; height: 50px; width: 20%" ng-click="promptForKey()"><i class="fa fa-key"></i></button>
      <button style="-webkit-appearance: none; height: 50px; width: 20%" ng-click="promptForExpiry()"><i class="fa fa-hourglass-half"></i></button>
      <button style="-webkit-appearance: none; color: #0a0; height: 50px; width: 20%" ng-click="updateMessages()"><i class="fa fa-refresh"></i></button>
      <button style="-webkit-appearance: none; color: #a00; height: 50px; width: 15%" ng-click="wipeChat()"><i class="fa fa-trash"></i></button>
    </div>
    <div class="chat" style="height:80%; position: relative; top: 58px; background: #eee; z-index: -100">
      <table style="min-width: 99%">
	<tr ng-repeat="message in messages" ng-hide="message.item==''">
	  <td style="min-height: 30px; width: 95%; margin: auto; display: block; border: 1px solid black; border-left: 6px solid #{{generatecolour(message.username)}}; font-family: sans-serif; padding: 7px; font-size: 0.9em; background: #fff"><b>{{message.username}}:</b> {{decryptMessage(message.item) | trust}} &nbsp;<br><font color="gray" size="1.8em">[{{message.timestamp * 1000 | date : 'mediumTime' : 'GMT'}}]</font></td>
	</tr>

	<tr style="height: 150px;">
	  <td id="bottom"></td>
	</tr>
      </table>
      
    </div>
    <div style="position: fixed; bottom: 1px; height: 100px; width: 100%; background: #fff; border-top: 1px solid #999">
      <textarea id="newmessagebox" ng-model="newMessage" style="height: 99%; width: 85%"></textarea><button style="-webkit-appearance: none; position: fixed; height:99px; width: 15%;" ng-click="keepFocused(); sendData()"><i class="fa fa-paper-plane"></i></button>

    </div>

  </body>
  <script src="app.js"></script>
</html>
